body{
    background-color: #39ff14;
    color:  blue ;
    
}


.message{
    margin: 2rem 0 4rem ;
    text-align: center;
    font-size: 5rem;
    font-family: 'Lobster', cursive;

}

.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
}

.computer img ,.player img {
    width: 100%;

}

.shakemachine{
    animation: shakemachine 0.8s linear;
}

.shakeplayer{
    animation: shakeplayer 0.8s linear;
}

.points{
    margin:1.5rem 0;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}

.machinepoint {
    margin-left: 2rem;
}

.playerpoint{
    margin-right: 2rem;
}


.options{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    
    
}

.options button{
    background: yellow;
    color: black;
    font-family: "Times New Roman", Times, serif;
    border:none;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    width: 120px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    
    transition: 0.2s all linear;
}

.options button:hover{
    background-color: darkcyan;
    border: 1px solid darkcyan;

}


@keyframes shakemachine{
    0%{
        transform :rotate(-30deg);
        
    }
    25%{
        transform :rotate(30deg);
        
    }
    50%{
        transform :rotate(-30deg);
        
    }
    75%{
        transform :rotate(30deg);
        
    }
    100%{
        transform :rotate(0deg);
        
    }
}

@keyframes shakeplayer{
    0%{
        transform :rotate(30deg);
        
    }
    25%{
        transform :rotate(-30deg);
        
    }
    50%{
        transform :rotate(30deg);
        
    }
    75%{
        transform :rotate(-30deg);
        
    }
    100%{
        transform :rotate(0deg);
        
    }
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0 ,0, 0, 0.9);
    justify-content: center;
    align-items: center;
    color:#d63689;
    text-shadow: 4px 4px #fff;
    font-size: 5rem;
    flex-direction: column;
    
}

.text-winning{
    margin-bottom: 20px;
}

.winning-message button{
    font-size: 2rem;
    padding: .25rem .5rem;
    cursor: pointer;
    border: none;
    font-family: 'Fredoka One', cursive;
    width: 15rem;
    border-radius: 30px;
    background-color: purple;
    color: white;
    

}


.winning-message button:hover {
    background-color: yellow;
    color:brown;
}


.winning-message.show{
    display: flex;
}

